<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>DefineNewLoanTypeServlet</servlet-name>
        <servlet-class>presentation.DefineNewLoanTypeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefineNewLoanTypeServlet</servlet-name>
        <url-pattern>/DefineNewLoanTypeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DefineNewGrantConditionServlet</servlet-name>
        <servlet-class>presentation.DefineNewGrantConditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefineNewGrantConditionServlet</servlet-name>
        <url-pattern>/DefineNewGrantConditionServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DefineNewLoanFileServlet</servlet-name>
        <servlet-class>presentation.DefineNewLoanFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefineNewLoanFileServlet</servlet-name>
        <url-pattern>/DefineNewLoanFileServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterRealCustomerServlet</servlet-name>
        <servlet-class>presentation.RegisterRealCustomerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterRealCustomerServlet</servlet-name>
        <url-pattern>/RegisterRealCustomerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchCustomerNumberServlet</servlet-name>
        <servlet-class>presentation.SearchCustomerNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchCustomerNumberServlet</servlet-name>
        <url-pattern>/SearchCustomerNumberServlet</url-pattern>
    </servlet-mapping>

</web-app>