body {
    background: #FFF5EE center;
    padding: 25pt;
}

h1 {
    font-size: 250%;
    color: darkblue;
    text-align: center;
    margin-top: 60pt;
}

h3 {
    font-size: 15pt;
    color: black;
    text-align: center;
    margin-top: 30pt;
}

h2 {
    font-size: 12pt;
    color: darkred;
    text-align: center;
    text-transform: capitalize;
}

p {
    font-size: 11pt;
    text-align: left;
    margin-top: 60pt;
    font-weight: bold;
}

input {
    font-weight: bold;
    border: 3px solid #998297;
    padding: 5pt;
    height: 25pt;
    border-radius: 7px;
}

table, th, td {
    border: 1px solid #4B0082;
    border-radius: 7px;
}

th {
    height: 50px;
    background-color: #D8BFD8;
    color: black;
    border-radius: 7px;
}

#menu {
    width: 100%;
    height: 35px;
    font-size: 12px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 1px 2px #2E8B57;
    background-color: white;
    border-radius: 7px;
    border-color: green;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: #4B0082;
    padding: 8px 8px 8px 8px;
}

#menu a:hover {
    color: green;
    background-color: #FFF;
}

#select {
    background: transparent;
    width: 268px;
    padding: 3px;
    font-size: 11px;
    line-height: 1;
    border: 2px;
    border-radius: 2px;
    height: 80px;
}